# MongoDB
MONGODB_URI=mongodb://localhost:27017/quack-auth
E2E_MONGODB_URI=mongodb://localhost:27017/quack-auth-e2e
MONGODB_DATABASE=quack-auth

# Node Environment
NODE_ENV=development
VITE_NODE_ENV=development